<section class="container">
  <ul>
    <li><a routerLink="/">Main</a></li>
    <li><a routerLink="/user">User</a></li>
    <li><a routerLink="/book">Books</a></li>
    <li><a routerLink="/author">Author</a></li>
    <li><a routerLink="/cars">Cars</a></li>
  </ul>
  <router-outlet></router-outlet>
</section>
