<section>
  <h4>Add new user.</h4>
  <section [formGroup]="addUserForm">
    <div class="form-group">
      <label for="fName">First Name</label>
      <input type="text" class="form-control" id="fName" formControlName="fName" placeholder="Enter First Name">
      <p class="error" *ngIf="addUserForm.get('fName').touched && addUserForm.get('fName').invalid">This field is required.</p>
    </div>
    <div class="form-group">
      <label for="lName">Last Name</label>
      <input type="text" class="form-control" id="lName" formControlName="lName" placeholder="Enter Last Name">
      <p class="error" *ngIf="addUserForm.get('lName').touched && addUserForm.get('lName').invalid">This field is required.</p>
    </div>
  </section>
  <button class="btn btn-success" (click)="submitData()">{{(isEdit) ? 'Update' : 'Add'}}</button>
</section>
