<h2>Main Component</h2>

<button (click)="getData()">Get Data</button>

<h3>Check recapcha.</h3>
<section [formGroup]="captchaForm">
  <label>Name</label>
  <p><input type="text" formControlName="name"></p>
  <label>Password</label>
  <p><input type="text" formControlName="pass"></p>
  <button class="btn btn-primary" (click)="onSubmit()">
    Submit
  </button>
</section>
