<app-dummy></app-dummy>
<h4>User List</h4>
<p class="text-right">
  <a routerLink="/user/add" role="button" class="btn btn-primary">Add new User</a>
</p>
<table class="table" *ngIf="userList$ | async as userList; else noData">
  <thead>
  <tr class="text-left">
    <th>First name&nbsp;<span class="pointer" (click)="sort(sortingModel.name)">s</span></th>
    <th>Last name&nbsp;<span class="pointer" (click)="sort(sortingModel.lName)">s</span></th>
    <th>Created data&nbsp;<span class="pointer" (click)="sort(sortingModel.date)">s</span></th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userList">
    <td>{{user.fName}}</td>
    <td>{{user.lName}}</td>
    <td>{{user.created | date:"dd/MM/yyyy"}}</td>
    <td>
      <button (click)="deleteUser(user._id)" class="btn btn-danger" role="button">Remove</button>
      <a [routerLink]="'edit/'+user._id" class="btn btn-success" role="button">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #noData>
  <p class="text-center">No Data Available</p>
</ng-template>
